#mail{
    border:1px solid black;
    margin-top: 10px;
    padding-top: 9px;
}
#job{
    border:1px solid black;
    margin-top: 40px;
    height: 200px;
    width: 180px;
    padding-top: 10px;
}
table{
    border: 2px solid black;
    text-align: left;
    padding: 8px;
    margin-top: 40px;
    max-block-size: 100px;
}
td,th{
    border: 1px solid black;
    max-block-size: 15px;
}
#uper{
    border:1px black;
}
#ads{
    border: 1px solid black;
    text-align: center;
    width: 700px;
    height: 42px;
    padding: 10px;
    margin-left: 113px;
}
